/* 字体锐利 */
body {-webkit-font-smoothing: subpixel-antialiased !important; }

/* 全局替换 
*{
font-family: "Helvetica Neue", "Hiragino Sans GB"!important;
}
*/

/* 针对替换 */
@font-face { font-family: Simsun;unicode-range: U+2E80-FFFF; src: local('Hiragino Sans GB')}
@font-face { font-family: Simsun;unicode-range: U+0000-2E7F; src: local('Helvetica Neue')}
@font-face { font-family: NSimsun;unicode-range: U+2E80-FFFF; src: local('Hiragino Sans GB')}
@font-face { font-family: NSimsun;unicode-range: U+0000-2E7F; src: local('Helvetica Neue')}
@font-face { font-family: Simhei;unicode-range: U+2E80-FFFF; src: local('Hiragino Sans GB')}
@font-face { font-family: Simhei;unicode-range: U+0000-2E7F; src: local('Helvetica Neue')}
@font-face { font-family: '宋体';unicode-range: U+2E80-FFFF; src: local('Hiragino Sans GB')}
@font-face { font-family: '宋体';unicode-range: U+0000-2E7F; src: local('Helvetica Neue')}
@font-face { font-family: '新宋体';unicode-range: U+2E80-FFFF; src: local('Hiragino Sans GB')}
@font-face { font-family: '新宋体';unicode-range: U+0000-2E7F; src: local('Helvetica Neue')}
@font-face { font-family: '黑体';unicode-range: U+2E80-FFFF; src: local('Hiragino Sans GB')}
@font-face { font-family: '黑体';unicode-range: U+0000-2E7F; src: local('Helvetica Neue')}
